/* registerstyle.module.css */

@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.container {
    text-align: center;
    background-image: url('../../../Assets/Background.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
  }


  .formele{
    text-align: start;
  }

  .platypi {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: xx-large;
  }
  
  .indi{
    text-align: left;
    display: block;
    margin-top: 12%;
    padding-left: 30%;
  }
  
  .homeBtn {
    padding: 1rem 2rem;
    background-color: #9403fc;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
  }
  
